
*{
    margin : 0;
    padding : 0;
    font-family : 'poppins' , sans-serif;

}
body{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding : 20px;
    border : none;
    height : 100vh;
    background:#111827;
       
}

.calculator{
    border : 1px solid #717377;
    padding : 20px;
    border-radius: 16px;
    background : transparent;
    box-shadow: 0px 3px 15px rgba(113 115,119, 0.5);
    width: 320px;
}

input{
    border : none;
    padding : 10px;
    background : transparent;
    font-size: 40px;
    text-align: right;
    box-shadow: 0px 3px 15px rgba(64, 84, 84, 0.1);
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    background : #374151;
    color : white;
}

input::placeholder{
     color : #ffffff;    
}

button{
    display : grid;
    border : none;
    width : 60px;
    height : 60px;
    background : transparent;
    font-size : 22px;
    box-shadow : -8px-8px 15px rgba(255, 255, 255,  0.1);
    cursor: pointer; 
    background: #374151;
    color:white; 
    transition:0.2s;
    border-radius:15px;
    display:flex;
    justify-content:center;
    align-items:center;

}

.calculator div {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

button:hover{
    transform:scale(1.05);
}
.btn-util{
    background:#ef4444;
}
.btn-op{
    background:#f59e0b;
}
.btn-eq{
    background:#10b981;
}
button:active{
    transform:scale(0.95);
}
